.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1128px;
}
.gallery-image {
  max-width: 360px;
  height: 100%;
  transition: transform 0.25s;
}
.gallery-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}
